
/* --------------------------------- Fonts --------------------------------- */

@font-face {
    font-family: 'PWScratchedfont';
    font-weight: normal;
    src: url('fonts/PWScratchedfont/PWScratchedfont.eot');
    src: url('fonts/PWScratchedfont/PWScratchedfont.eot?#iefix') format('eot'),
        url('fonts/PWScratchedfont/PWScratchedfont.woff') format('woff'),
        url('fonts/PWScratchedfont/PWScratchedfont.woff2') format('woff2'),
        url('fonts/PWScratchedfont/PWScratchedfont.ttf') format('truetype'),
        url('fonts/PWScratchedfont/PWScratchedfont.svg') format('svg');
}

@font-face {
    font-family: 'HelveticaNeue Light';
    font-weight: lighter;
    src: url('fonts/HelveticaNeueLight/HelveticaNeueLTStd-Lt.eot');
    src: url('fonts/HelveticaNeueLight/HelveticaNeueLTStd-Lt.eot?#iefix') format('eot'),
        url('fonts/HelveticaNeueLight/HelveticaNeueLTStd-Lt.woff') format('woff'),
        url('fonts/HelveticaNeueLight/HelveticaNeueLTStd-Lt.woff2') format('woff2'),
        url('fonts/HelveticaNeueLight/HelveticaNeueLTStd-Lt.ttf') format('truetype'),
        url('fonts/HelveticaNeueLight/HelveticaNeueLTStd-Lt.svg') format('svg');
}