/* General layout styles */

body {
    background: var(--white);
    color: var(--neutral-grey);
    font-family: var(--font-helvetica--light);
    line-height: var(--line-height-m);
}

.l-page {
    padding: var(--space-m) calc(2.5 * var(--space-m));
    min-height: calc(100vh - 128px);
}

.l-page p {
    text-align: justify;
}

.l-page__item--out {
    margin-left: calc(-2.5 * var(--space-m));
    margin-right: calc(-2.5 * var(--space-m))
}

.l-scroll--hide {
    height: 100vh;
    overflow: hidden;
}

h2 {
    color: var(--black);
    font-family: var(--font-pwscratchedfont), Arial, Helvetica, sans-serif;
    font-size: var(--text-xl);
    margin: 0 auto var(--space-m);
}

h2::after {
    content: '';
    border-bottom: 5px solid var(--primary);
    display: block;
    margin: 0 auto;
    padding-top: .25em;
    width: 70%;
}

a {
    color: var(--primary);
}
