<div class="o-nav__menu">
  <ul class="o-nav__items o-nav__items--primary">
    <li><a href="../index.html" title="INICIO">INICIO</a></li>
    <li><a href="../about.html" title="QUIENES SOMOS">QUIENES SOMOS</a></li>
    <li><a href="../routes.html" title="RUTAS">RUTAS</a></li>
    <li><a href="../contact.html" title="CONTACTO">CONTACTO</a></li>
  </ul>

  <ul class="o-nav__items">
    <li><a href="./legal.html" title="AVISO LEGAL">AVISO LEGAL</a></li>
    <li><a href="./recommend.html" title="RECOMENDACIONES">RECOMENDACIONES</a></li>
  </ul>
</div>